<body>
    <div class="container">
        <h1> {{eventName}}</h1>
        <hr>
        <p>Description: {{description}}</p>
        <hr>
        <a href="/events" class="btn btn-dark mb-3">Return</a>
        <a href="/" class="btn btn-dark mb-3">Home Page</a>
    </div>
</body>