<style>
    #video {
        position: relative;

        size: {
            width: 100%,
                height: 100%,
        }

        z-index: -100;

        #a {
            position: relative;
            align-content: center;

        }
    }
</style>


<div class="container"></div>
<h1>FUCK VIDEOGAMES</h1>
<video
    src="../images/30 PRÓXIMOS NUEVOS JUEGOS Más ESPERADOS de 2023 _ (PS4, PS5, Xbox One, Series X_S, PC, Switch).mp4"
    autoplay muted loop></video>

<a href="/auth/login" class="btn btn-dark mb-3">Acces</a>

</div>